<mat-toolbar color="primary">
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/modify">Modify List</a>
</mat-toolbar>

<div class="content">
  <h2>All Pokémon Cards</h2>

  <div class="card-container">
    <mat-card *ngFor="let card of PokemonCardsList" class="custom-card">
      <mat-card-header>
        <mat-card-title [innerHTML]="card.name | boldCardName"></mat-card-title>
        <mat-card-subtitle>Price: {{ card.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Description: {{ card.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Buy Now</button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
<app-pokemon-cards-list></app-pokemon-cards-list>
