.even {
  background-color: #fa4747;
}

.odd {
  background-color: lightblue;
}

div {
  text-decoration-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

button {
  padding: 0.5em;
  border: 1px solid green;
  background-color: green;
  color: white;
  border-radius: 5px;
}

mat-card.custom-card {
  background-color: #e3f2fd;
  color: #0d47a1;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
