<html>
  <head>
    <title> pokemon cards list </title>
  </head>
  <body>

  <app-pokemon-cards-list-item></app-pokemon-cards-list-item>
  <app-pokemon-cards-list-item></app-pokemon-cards-list-item>
  <app-pokemon-cards-list-item></app-pokemon-cards-list-item>
  <app-pokemon-cards-list-item></app-pokemon-cards-list-item>

<!--    <h2> Pokemon Cards </h2>-->
<!--    <ul>-->
<!--      <li *ngFor="let item of contentItems" >-->
<!--        <h3>{{item.name}}</h3>-->
<!--        <p>desc: {{item.description}} | rarity: {{item.rarity}}</p>-->
<!--      </li>-->
<!--    </ul>-->
  </body>
</html>
